<link rel="stylesheet" type="text/css" href="" />
<% provide(:title, @user.name) %>
<!DOCTYPE html>
<html>
<body>
<div class="row">
<aside class="col-md-4">
<section class="user_info">
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
</section>
</aside>
</div>
<div>
<p>User email id: <%=@user.email %></p>
</div>
<div>
<p>Created at :<%= @user.created_at %></p> 
<p>Updated at : <%= @user.updated_at %></p>
<p>Current time: <%= Time.now %></p>
</div>
</body>
</html>