@import 'bootstrap-sprockets';
@import 'bootstrap';

$light_yellow: rgb(226, 199, 124);
$gray: #777;
$light_blue: rgb(122, 183, 223);
$white: #fff;
$some_kind_of_white: #eaeaea;

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    padding-top: 45px;
    @include box_sizing;
}

body{
    padding-top: 60px;
}
section{
    overflow: auto;
}
textarea{
    resize: vertical;
}
.center{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}

h1, h2, h3, h4, h5, h6{
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    font-size: 1.2em; 
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover{
        color: $white;
        text-decoration: none;
    }
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $some_kind_of_white;
    color: $gray;
    a{
        color: $light_blue;
    }
    &:hover{
        color: $light_yellow;
    }
    small{
        float: left;
    }
    ul{
        float: right;
        list-style: none;
    }
    ul li{
        float: left;
        margin-left: 15px;
    }
}
aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  input, textarea, select, .uneditable-input{
      border: 1px solid #bbb;
      width: 100%;
      margin-bottom: 15px;
      @include box_sizing;
  }

  input{
      height: auto !important;
  }

  #error-explanation{
      color: red;
      ul{
          color: red;
          margin: 0 0 30px 0;
      }
  }

  .field_with_errors{
      @extend .has-error;
      .form-control{
          color: $state-danger-text;
      }
  }

  
