<footer class='footer'>
    <small>
      Tweeter app by Gogulaanand following <a href="https://railstutorial.org">Ruby on Rails Tutorial</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
</footer>
