<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Tweeter", root_path, id: "logo" %>
        <%# <%= link_to image_tag("messenger_bird.jpg"), :size => '0.01x0.01'%>
        <nav>
            <ul class="nav navbar-nav navbar-right ">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Log In", '#' %></li>
            </ul>
        </nav>
    </div>
</header>